body, html {
    height: 100%;
  }

@font-face {
    font-family: 'vanilla_whaleregular';
    src: url('assets/fonts/vanilla/vanilla_whale-webfont.woff2') format('woff2'),
         url('assets/fonts/vanilla/vanilla_whale-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


header {
    background: url("gray-background.jpg");
    background-size: 100%;
    height: 120px;
}


/* .logo {
    vertical-align: middle;
    margin: -5px 40px;
    width: 8%;
} */

/* nav {
    position: absolute;
    top: 30px;
    right: 50px;
}

.nav-menu li{
    display: inline;
    margin: 0 0 0 30px;
    padding-right: 40px;
    color: #d80b0b;
}

.nav-menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
} */

main {
    background: url("assets/Fotolia_69424905_Subscription_Monthly_M.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advertising {
    font-family: 'vanilla_whaleregular';
    text-align: center;
    font-size: 40px;
    padding: 5px;
    color: #FFFFFF;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-content {
    display: inline-block;
    margin : auto auto;
}

.logo-main {
    width: 40%;
}
