body, html {
    height: 100%;
    width: 100%;
  }

@font-face {
    font-family: 'vanilla_whaleregular';
    src: url('assets/fonts/vanilla/vanilla_whale-webfont.woff2') format('woff2'),
         url('assets/fonts/vanilla/vanilla_whale-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* .logo {
    vertical-align: middle;
    margin: -5px 40px;
    width: 8%;
} */

/* nav {
    position: absolute;
    top: 30px;
    right: 50px;
}

.nav-menu li{
    display: inline;
    margin: 0 0 0 30px;
    padding-right: 40px;
    color: #d80b0b;
}

.nav-menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
} */
body {
    background: url("assets/Fotolia_69424905_Subscription_Monthly_M.jpg");
    /* Full height */
    height: 100%;
    width: 100%;

    max-width: 100%;
    max-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    max-height: 100%;
}

.advertising {
    font-family: 'vanilla_whaleregular';
    text-align: center;
    color: #FFFFFF;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-ads {
    font-size: 2.5rem;
    max-width: 100%;

}


.main-content {
    display: inline-block;
    margin : auto auto;

}


.main-button {
    
    width: 250px;
    height: 80px;

    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: auto auto;
    margin-bottom: 1.5rem;

    border-radius: 0.5rem;
}

.main-button h1{
    padding-right: 3rem;
    border-right: 0.2rem solid #FFFFFF;
    font-size: 3rem;
    color: #FFFFFF;
    font-family: 'vanilla_whaleregular';
    
} 

.main-button img {
    padding-left: 1.5rem;
    width: 1.5rem;

    -webkit-filter: invert(1);
    filter: invert(1);
}

.logo-main {
    
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 50rem;
}
