body, html {
    height: 100%;
    width: 100%;
  }

@font-face {
    font-family: 'vanilla_whaleregular';
    src: url('assets/fonts/vanilla/vanilla_whale-webfont.woff2') format('woff2'),
         url('assets/fonts/vanilla/vanilla_whale-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'vanilla_whaleregular';
    background: url("assets/Fotolia_69424905_Subscription_Monthly_M.jpg");
    /* Full height */

    max-width: 100%;
    max-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    max-height: 100%;
}

.logo {
    margin-top: 10rem;
    max-width: 35rem;
}


/* Style the form */
#regForm {
    margin-left: 7rem;
    margin-right: 7rem;
    min-width: 30rem;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container button {
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background: red;
    font-size: 2.5rem;
    color: white;

    font-weight: bold;
    font-family: 'vanilla_whaleregular';

    border: 1px none lightgrey;
    cursor: pointer;
    -webkit-appearance: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  }

.input-container output{
    margin-left: 1.5rem;
    color: #FFFFFF;
}


/* Style the input fields */
input {
    width: 100%;
    font-size: 5rem;
    font-family: Raleway;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
  
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;

    margin : 0 auto;
}

.tab h1 {
    font-family: 'vanilla_whaleregular';
    text-align: center;
    color: #FFFFFF;
    font-size: 8rem;
    padding-bottom: 7rem;

    display: block;
    margin : 0 auto;
}

.input-box {
    background-color: #000000;
    width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem;
}

.input-box h2 {
    font-family: 'vanilla_whaleregular';
    font-size: 3rem;

    color: #FFF;
}

.slider {
    margin: 1rem 0;
    -webkit-appearance: none;  /* Override default CSS styles */
    border: 1px solid black;
    appearance: none;
    width: 100%; /* Full-width */
    height: 0.4rem;
    border-radius: 1.5rem; 
    background-color: red;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%; 
    background: red;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
 

.form__input{
    font-family: 'vanilla_whaleregular';
    font-size: 3rem;
    border-radius: 1rem;

    box-sizing: border-box;
    border: 100px solid;

    padding-left: 0.7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    max-width: 100%;
    display: block;
    margin : 0 auto;
}

/* .form-button:hover {
    border-color: red;;
    font-size: 3.5rem;
} */

.form-right {
    font-family: 'vanilla_whaleregular';
    font-size: 3rem;

    background-color: #000000;
    color: #FFFFFF;

    padding: 0.3rem;
    width: 13rem;
    border: 1px solid;
    border-radius: 1rem;

    display: block;

    margin: 3rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.form-left {
    font-family: 'vanilla_whaleregular';
    font-size: 3rem;

    background-color: #000000;
    color: #FFFFFF;

    padding: 0.3rem;
    width: 13rem;
    border: 1px solid;
    border-radius: 1rem;

    display: block;

    margin: 3rem 0;
    margin-right: 7rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.button-box {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
}

.form-right img {
    display: inline-block;
    padding-left: 1.5rem;
    width: 1.5rem;

    -webkit-filter: invert(1);
    filter: invert(1);
}

.form-left img {
    display: inline-block;
    padding-left: 1.5rem;
    width: 1.5rem;

    transform: rotate(180deg);
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: red;
}